# Java
*.class
*.log

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Eclipse
.project
.classpath
.settings/
.metadata/
.factorypath

# OS-specific
.DS_Store

# IntelliJ (optional)
*.iml
.idea/

# Logs
logs/
*.log

# Others
*.bak
*.swp

# Environment and config
.env
